@model IEnumerable<Patient>

@{
    ViewData["Title"] = "Modify Patient";

}


<form id="ModifyPatientForm" asp-controller="Admin" asp-action="DeletePatients" method="post" autocomplete="on" role="form">


    <table id="t01" style="border:none" class="text patientPage">
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Email</th>
            <th>Diagnosis</th>
            <th>Edit</th>
            <th>Select</th>

        </tr>


        @foreach (var patient in Model)
        {

    <tr>

        <td>
            <div class="profile-header-container col-sm-1">
                <div class="profile-header-img1">
                    @if (@patient.ProfilePicture == null)
                    {
                        <img class="img-circle1" src="http://www.iconshock.com/img_jpg/IMPRESSIONS/medical/jpg/256/patient_icon.jpg" />

                    }
                    else
                    {
                        <img class="img-circle1" src="~/profiledat/@Html.Encode(@patient.ProfilePicture)" />
                    }

                    

                   
                </div>
            </div>
        </td>

        <td>@Html.Encode(@patient.Fname) @Html.Encode(@patient.Lname) </td>
        <td>@Html.Encode(@patient.Gender) </td>
        <td>@Html.Encode(@patient.Age) </td>
        <td>@Html.Encode(@patient.Email) </td>
        <td>@Html.Encode(@patient.Diagnosis) </td>

        @{
            string reference= "http://localhost:54118/Admin/EditPatientPage?editPatient=" + @Html.Encode(@patient.PatientId.ToString());


         }

        <td><a href=@reference name="PatientToEdit" value="@Html.Encode(@patient.PatientId)" class="text" style="color:black;"><strong>Edit Details</strong> </a></td>
        <td><input  type="checkbox" name="PatientsToDeleteCheckboxes" value="@Html.Encode(@patient.PatientId)"> </td>

    </tr>

                }




    </table>



    <input type="submit" class="btn btn-primary btn-block text" value="Delete Patients" style="margin-left:75%; margin-top:2%; height:40px;" />


    </form>